@page "/gmoddotnet-runtime/{Id:int}"

@if (release is null && initException is null)
{
    <div class="container-fluid d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 5em; height: 5em">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
@if (release is not null && initException is null)
{
    <div class="container-fluid d-flex justify-content-center text-primary">
        <h3 class="display-6">Gmod.NET Runtime Build</h3>
    </div>

    <div class="container-fluid d-flex justify-content-center mt-3 text-center">
        <h4>Version @release.TagName</h4>
    </div>

    <div class="container-fluid d-flex justify-content-center mt-3 text-center">
        <strong>Upload time:&nbsp;</strong> @TimeHelper.GetUploadTimeString(release.CreatedAt)
    </div>

    <div class="container-fluid d-flex justify-content-center mt-3 text-center flex-column">
        <strong>Commit:&nbsp;</strong>
        <a href="@releaseCommit.HtmlUrl" class="text-decoration-none">@releaseCommit.Sha</a>
    </div>

    <div class="container-fluid d-flex justify-content-center mt-3 text-center">
        <strong>Commit author:&nbsp;</strong> @releaseCommit.Commit.Author.Name
    </div>

    <div class="container-fluid d-flex justify-content-center mt-3 text-center">
        <strong>Commit message:</strong>
    </div>

    <div class="container-fluid d-flex justify-content-center text-center">
        <em>@releaseCommit.Commit.Message</em>
    </div>

    <div class="container-fluid d-flex justify-content-center mt-3 text-center">
        <h5>Assets:</h5>
    </div>

    <div class="container-fluid mt-1">
        @foreach (var asset in release.Assets)
        {
            <div class="container-fluid d-flex justify-content-center mt-3 text-center">
                <a href="@asset.BrowserDownloadUrl" class="text-decoration-none" target="_blank">
                    <i class="bi bi-box-seam"></i> @asset.Name
                </a>
            </div>
        }
    </div>
}
@if (initException is not null)
{
    <div class="container-fluid d-flex justify-content-center">
        <div class="alert alert-warning container mt-4">
            <div class="d-flex justify-content-center">
                <h2>Error</h2>
            </div>
            <div class="d-flex justify-content-center text-center">
                It seems like requested build does not exist <i class="bi bi-emoji-frown-fill"></i>
            </div>
        </div>
    </div>
}